    
html, body
    margin: 0
    padding: 0
    font-size: $font-size

*
    box-sizing: border-box

a, a:link, a:visited
    color: $main
    text-decoration: none
    &:hover,
    &:focus
        color: $secondary
        text-decoration: none


.m-auto
    margin: auto
    
.my-auto
    margin-top: auto
    margin-bottom: auto
    
.mx-auto
    margin-left: auto
    margin-right: auto

@for $i from 0 through 5
    // Margin
    .m-#{$i}
        margin: $space*$i !important
    .my-#{$i}
        margin-top: $space*$i !important
        margin-bottom: $space*$i !important
    .mx-#{$i}
        margin-left: $space*$i !important
        margin-right: $space*$i !important
    .mt-#{$i}
        margin-top: $space*$i !important
    .ml-#{$i}
        margin-left: $space*$i !important
    .mr-#{$i}
        margin-right: $space*$i !important
    .mb-#{$i}
        margin-bottom: $space*$i !important

    // Padding
    .p-#{$i}
        padding: $space*$i !important
    .py-#{$i}
        padding-top: $space*$i !important
        padding-bottom: $space*$i !important
    .px-#{$i}
        padding-left: $space*$i !important
        padding-right: $space*$i !important
    .pt-#{$i}
        padding-top: $space*$i !important
    .pl-#{$i}
        padding-left: $space*$i !important
    .pr-#{$i}
        padding-right: $space*$i !important
    .pb-#{$i}
        padding-bottom: $space*$i !important


.center-aligned 
    text-align: center !important
.left-aligned 
    text-align: left !important
.right-aligned 
    text-align: right !important

@import 'grid'
