#root > header
    position: sticky
    padding: $space 0
    background: $white
    z-index: 1
    
    .menu
        position: relative
        display: flex
        align-items: center
        align-content: center
        background: $white
        z-index: 2
        
        &::after
            content: ""
            position: absolute
            width: 100%
            height: 4px
            bottom: 0
            border-radius: $radius
            background: transparentize($light-gray, .5)

        a.nav-item
            font-size: 1.15rem
            text-decoration: none
            padding: $space $space*2.5
            font-weight: $black
            border-radius: $space
            &:hover,
            &:focus
                background: transparentize($light-gray, .85)

        #brand
            font-size: 2rem
            font-family: 'Permanent Marker'
            color: $black
            &:hover,
            &:focus
                background: none