html, body 
    position: relative
    display: block
    background: $white
    height: 100%

body
    display: flex 
    flex-direction: column
    overflow-x: hidden
    overflow-y: auto
    #root
        position: relative
        width: 100%
        display: flex
        flex-direction: column
        > main
            flex: 1

        
@import './header'
@import './footer'
@import './section'
@import './index'