section
    position: relative
    padding: 5rem 0

    .float-caption
        position: absolute
        background: #FFF
        width: 150%
        height: 200px
        padding: $space*2 $space*3
        z-index: 2
        &.left-center
            left: 0
            top: 0
            bottom: 0
            margin: auto
    
section.banner
    min-height: 90vh
    padding-top: 0rem
   