
.slick-slider
    position: relative
    .slick-arrow 
        position: absolute
        top: 0
        bottom: 0
        margin: auto
        bottom: 3rem
        font-size: 2rem
        background: none
        border: 0
        height: 72px
        color: transparent
        z-index: 9
        outline: 0
        transition: transform .3s ease

        &:hover
            transform: scale(1.5)
            transform-origin: 100% 50%

        &::before
            content: ''
            width: 72px
            height: 72px
            font-size: 3rem
            color: $secondary
            top: 0
            bottom: 0
            margin: auto
            position: absolute
            display: block
        &.slick-prev
            left: -$space*17
            transform-origin: 100% 50%
            &::before
                content: '〈'
                right: 0
                // border-right: $space*12 solid $blue
                // border-top: $space*14 solid transparent
                // border-bottom: $space*12 solid transparent
                // border-left: $space*10 solid transparent
        &.slick-next
            right: -$space*9
            transform-origin: 0% 50%
            &::before
                content: '〉'
                // border-right: $space*14 solid transparent
                // border-top: $space*12 solid transparent
                // border-bottom: $space*12 solid transparent
                // border-left: $space*12 solid $blue

    .slick-dots
        position: absolute
        width: 100%
        bottom: -$space*8
        li
            display: inline-block
            border-radius: 10px
            margin: 0 $space/2
            vertical-align: baseline

            &:last-child::after
                display: none

            &:after
                content: '/'
                font-size: 1.5rem
                color: $light-gray

            button
                width: 3rem
                font-size: 3rem
                color: $light-gray
                background: none
                border: 0
                height: 3rem
                padding: 0
                vertical-align: baseline

            &.slick-active button
                font-size: 6rem
                color: $main
                text-shadow: $space/2 0 0 $white
    
    .slick-track
        .slick-slide
            width: 100%
            
            img
                width: 100%
            
            .caption
                position: absolute
                padding: $space*2
                width: 480px
                right: 10%
                bottom: 10%
                color: #FFF
                margin: auto
                background: $main
                box-shadow: 0px 0 50px 0px rgba(0,0,0, .2)
                transform: translateX(150px)
                transition: transform 1s .1s ease

            &.slick-active.slick-current .caption
                transform: translateX(0px)

