.cards 
    display: flex
    flex-wrap: wrap
    margin: 3rem 0

    &.four-cards .MuiCard-root
        width: calc(25% - #{$space*2})
        &.paded
            width: calc(25% - #{$space*4})
    &.three-cards .MuiCard-root
        width: calc(33.33333% - #{$space*2})
        &.paded
            width: calc(33.33333% - #{$space*4})
    
    .MuiCard-root
        display: flex
        margin: $space
        align-content:  flex-start
        align-items: flex-start
        flex-direction: column

        &.paded
            margin: $space*2

        .MuiButtonBase-root.MuiCardActionArea-root
            flex: 1
            display: flex
            flex-direction: column
            align-content:  flex-start
            align-items: flex-start
            justify-content: flex-start
            justify-items: flex-start
            flex-grow: 1

        .MuiCardMedia-root
            position: relative
            width: 100%
            padding-bottom: 75%

        .MuiCardContent-root
            position: relative
            flex-grow: 1
            padding-bottom: 3rem
            .meta
                color: $light-gray
                * 
                    margin-right: $space
            .description
                display: block
                display: -webkit-box
                height: 72px
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
            .price
                position: absolute
                bottom: 0
                color: $red
        .MuiCardActions-root
            width: 100%
            justify-content: space-between
            justify-items: space-between
    .MuiCard-root.category
        .MuiCardContent-root
            padding: 3rem
            height: 300px