.parallax-outer,
.parallax-outer .parallax-inner
    position: absolute
    display: block
    width: 100%
    height: 100%
    left: 0
    top: 0

.parallax-container
    .deco-trangle
        position: absolute
        width: 0
        height: 0
        display: block
        border-left: 200px solid transparentize($light-gray, .5)
        border-top: 400px solid transparent
        border-bottom: 400px solid transparent
        border-right: 200px solid transparent

        &::before
            content: ""
            position: absolute
            width: 0
            height: 0
            display: block
            border-right: 30px solid transparentize($light-gray, .5)
            border-top: 100px solid transparent
            border-bottom: 100px solid transparent
            border-left: 30px solid transparent

        &.left-top
            left: -5%
            top: 50%
            transform: skew(-10deg, 5deg) scale(1.2, 1)

            &::before
                top: 400px

        &.right-middle
            border-left: 150px solid transparent
            border-top: 300px solid transparent
            border-bottom: 300px solid transparent
            border-right: 150px solid transparentize($light-gray, .5)
            right: 0
            top: 70%
            transform: skew(-12deg, 3deg) scale(1.2, 1)


            &::before
                top: 200px
                left: -300px
                transform: rotate(180deg)

    &.is-blue .deco-trangle
        border-left: 200px solid transparentize($blue, .5)
        &::before
            border-right: 30px solid transparentize($blue, .5)

        &.right-middle
            border-right: 150px solid transparentize($blue, .5)

    &.is-orange .deco-trangle
        transform: rotate(72deg)
        border-left: 200px solid transparentize($orange, .5)
        &::before
            border-right: 30px solid transparentize($orange, .5)

        &.right-middle
            border-right: 150px solid transparentize($orange, .5)

    &.is-yellow .deco-trangle
        transform: rotate(-72deg)
        border-left: 200px solid transparentize($yellow, .5)
        &::before
            border-right: 30px solid transparentize($yellow, .5)

        &.right-middle
            border-right: 150px solid transparentize($yellow, .5)