.is-transition
    transition: all .5s .1s ease !important

.with-slide-from-left
    transform: translateX(-50px)

.with-slide-from-right
    transform: translateX(50px)
    transition-delay: .3s !important

.with-slide-from-left.is-in,
.with-slide-from-right.is-in
    transform: translateX(0px)